<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.getFullName()}">Страница</title>
</head>
<body>
<a href="/people">На главную страницу</a>
<br>

<p th:text="${person.getFullName() + ', ' + person.getBirthday()}"></p>
<div th:unless="${books.isEmpty()}">
    <b>Книги:</b>
    <div th:each="book : ${books}">
        <a th:style ="${book.isOverdue()} ? 'color: red' : 'color: blue' " th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}" th:href="@{/book/{id}(id=${book.getId()})}"></a>
    </div>
</div>

<p th:if="${books.isEmpty()}">Человек пока не взял ни одной книги</p>
<br>
<form th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="редактировать">
</form>

<br>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="удалить пользователя">
</form>
</body>
</html>