<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление новой книги</title>
</head>
<body>
<a href="/people/">Пользователи библиотеки</a>
<br>
<a href="/book/">Каталог книг</a>
<br>
<br>
<form th:method="POST" th:action="@{/book}" th:object="${book}">
    <label for="name">Введите название книги</label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br>
    <label for="author">Введите автора книги</label>
    <input type="text" th:field="*{author}" id="author">
    <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author error</div>
    <br>
    <label for="year">Введите дату книги</label>
    <input type="date" th:field="*{year}" id="year">
    <div style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">year error</div>
    <br>
    <hr>
    <input type="submit" value="создать"/>
</form>

</body>
</html>