<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title th:text="${book.name}">Книга</title>
</head>
<body>

<div th:if="${bookOwner.getFullName() == null}">
<form th:method="PATCH" th:action="@{/book/add/{book_id}(book_id=${book.getId()})}" th:object="${person}">
    <label for="person">Выбирете человека</label>
    <select th:object="${person}" th:field="*{id}" id="person">
        <option th:each="person : ${people}" th:value="${person.getId()}"
                th:text="${person.getFullName()}"></option>
    </select>
    <input type="submit" value="Назначить книгу"/>
</form>
</div >

<div th:unless="${bookOwner.getFullName() == null}">
<p th:text="${'Владелец книги ' + bookOwner.getFullName()}"></p>
<form th:method="PATCH" th:action="@{/book/releaseBook/{id}(id=${book.getId()})}">
    <input type="submit" value="освободить книгу">
</form>
</div >

<a href="/book/">К каталогу книг</a>
<br>
<a href="/people/">Список пользователей</a>
<br>
<br>
<p th:text="${book.name}"></p>
<p th:text="${book.author}"></p>
<p th:text="${book.year}"></p>
<br>

<br>
<a th:href="@{/book/{id}/edit/(id=${book.getId()})}">Редактировать</a>
<br>

<br>
<form th:method="DELETE" th:action="@{/book/{id}(id=${book.getId()})}">
    <input type="submit" value="удалить книгу">
</form>
</body>
</html>