<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Зарегистрировать нового пользователя</title>
</head>
<body>

<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="fullName">введите имя нового пользователя</label>
    <input type="text" th:field="*{fullName}" id="fullName"/>
    <div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name error</div>
    <br/>
    <label for="birthday">Введите возраст нового пользователя</label>
    <input type="text" th:field="*{birthday}" id="birthday"/>
    <div style="color:red" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">Age error</div>
    <br/>
    <hr/>
    <input type="submit" value="создать"/>

    <br>
    <a href="/people">На главную страницу</a>
</form>

</body>
</html>